@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #776d6d; 

}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #312f2f; 
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #232121;
    cursor: default; 
}

html{
  background-color: rgb(23 23 23 / 1);
}

#root{
  height:100vh
}